---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Aside from "@/components/Aside.astro";
import Hero from "@/components/Hero.astro";
import Projects from "@/components/Projects.astro";
import Techs from "@/components/Techs.astro";
import Contact from "@/components/Contact.astro";
---

<Layout title="Tomás Romero - Full-Stack Developer">
  <main>
    <div
      style="position:fixed; z-index: -1; top:0px; left:0px; height:100%; width:100%;"
    >
      <div
        style="position: absolute; top: 0; z-index: -1; height: 100%; width: 100%; background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0)), #0f172a;"
      >
      </div>
    </div>
    <Navbar />
    <Aside />
    <Hero />
    <Projects />
    <Techs />
    <Contact />
  </main>
</Layout>

<style></style>
