---

---

<section id="cont">
  <header>
    <div class="header-container">
      <h1 class="titulo">CONTACTO</h1>
      <h2 class="titulo2">CONTACTO</h2>
    </div>
  </header>
  <div class="contact-container">
    <aside class="contact-aside">
      <img class="img-contact" src="_astro/sin.webp" alt="" />
      <ul class="redes-list">
        <li>
          <a href="mailto:tomasrom.dev@gmail.com"
            ><i class="fa-regular fa-envelope"></i>tomasrom.dev@gmail.com</a
          >
        </li>

        <li>
          <a
            href="https://wa.me/5491156976553"
            target="_blank"
            rel="noreferrer noopener"
            ><i class="fa-brands fa-whatsapp"></i>+54 911 5697 6553</a
          >
        </li>

        <li>
          <span>
            <i class="fa-solid fa-location-dot"></i>Bs.As, Argentina
          </span>
        </li>
        <span class="bar"></span>
      </ul>
    </aside>
    <article>
      <div class="form-container">
        <form
          action="https://formsubmit.io/send/1bb948c7-3fff-436f-b41a-e6c73e4837bf"
          method="POST"
        >
          <div class="group-form">
            <label for="">Nombre</label>
            <input type="text" name="name" />
          </div>
          <div class="group-form">
            <label for="">Email</label>
            <input type="email" name="email" />
          </div>

          <div class="group-form">
            <label for="">Mensaje</label>
            <textarea name="message" id="message" cols="30" rows="10"
            ></textarea>
          </div>
          <input name="_formsubmit_id" type="text" style="display:none" />
          <button class="submit" type="submit"
            >Enviar <i class="fa-solid fa-paper-plane"></i>
          </button>
        </form>
      </div>
    </article>
  </div>
</section>
<style>
  section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 15%;
    gap: 50px;
    width: 100%;
  }

  .contact-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    object-fit: contain;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  aside img {
    width: 300px;
    filter: drop-shadow(0 0 1em rgba(61, 108, 178, 0.4));
  }

  .header-container {
    position: relative;
  }

  .titulo {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.04);
    user-select: none;
  }

  .titulo2 {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .redes-list {
    color: white;
    list-style: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .redes-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color ease 0.3s;
  }

  .redes-list i {
    font-size: 30px;
    margin-right: 10px;
    transition: color ease 0.3s;
    color: #3d6cb2;
  }

  .redes-list a:hover {
    color: #3d6cb2;
  }

  .redes-list a:hover i {
    color: #3d6cb2;
  }

  .form-container {
    width: 150%;
    height: 550px;
    background-color: #2c3853;
    padding: 25px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.44);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: black;
  }

  .group-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 6px;
  }

  h1 {
    font-size: 100px;
  }

  label {
    font-size: 18px;
    font-weight: 600;
  }

  input {
    width: 100%;
    border-radius: 0.7vw;
    border: 1px solid #5d5d5d;
    font-size: 14px;
    padding: 10px;
    color: black;
  }

  .submit {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: #355284;
    border: none;
    border-radius: 10px;
  }

  textarea {
    border: 1px solid #5d5d5d;
    border-radius: 0.7vw;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    color: black;
  }

  #message {
    overflow: scroll;
    resize: none;
    scrollbar-width: none;
  }

  .submit:hover {
    background-color: rgba(61, 108, 178);
  }

  .bar {
    display: block;
    width: 150px;
    height: 2px;
    background-color: #57637e;
    display: none;
  }

  @media screen and (max-width: 900px) {
    .contact-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 15px;
    }

    .contact-container aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .form-container {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      font-size: 40px;
    }

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3em 10%;
      gap: 5px;
    }

    .bar {
      display: block;
    }
  }

  @media (max-width: 600px) {
    .titulo {
      font-size: 4em;
    }

    .titulo2 {
      font-size: 2em;
    }
  }

  @media (max-width: 500px) {
    .titulo {
      font-size: 4em;
    }
  }

  @media (max-width: 400px) {
    .titulo {
      font-size: 3.5em;
    }

    .titulo2 {
      font-size: 2em;
    }
  }
</style>
