---

---

<section><p>Tomás Romero - Full Stack Developer <br /> 2024</p></section>

<style>
  section {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c1322;
  }
</style>
