---

---

<section class="home">
  <div class="nombre-container">
    <h1 class="tr">Tomás <br /> <strong>Romero</strong></h1>
    <h2>Full-Stack Developer</h2>
  </div>
  <p class="parrafo">
    ¡Hola! Soy un apasionado Full Stack Developer con una sólida experiencia en
    el diseño y desarrollo de soluciones web completas. Mi enfoque va más allá
    del simple código, me esfuerzo por crear experiencias digitales intuitivas y
    eficientes. <br />
    Con habilidades tanto en el frontend como en el backend, disfruto traduciendo
    ideas creativas en aplicaciones funcionales y robustas. Mi compromiso con la
    mejora continua y la resolución de problemas me impulsa a mantenerme actualizado
    con las últimas tecnologías.
    <br /> Bienvenido a mi portfolio, donde puedes explorar proyectos que reflejan
    mi dedicación a la excelencia técnica y mi pasión por construir soluciones innovadoras.
  </p>
</section>

<style>
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 893px;
  }

  .foto {
    width: 1000px;
  }

  .tr {
    text-transform: uppercase;
    font-size: 3.2em;
    line-height: 1.1;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    color: white;
  }

  .tr strong {
    color: rgba(61, 108, 178, 0.91);
    font-family: "Archivo", sans-serif;
    font-weight: 700;
  }

  h2 {
    text-transform: uppercase;
  }

  .parrafo {
    max-width: 1000px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-wrap: balance;
  }

  @media (max-width: 1150px) {
    .foto {
      width: 500px;
    }
  }
</style>
