---

---

<section class="home">
  <div class="nombre-container">
    <h1 class="tr">Tomás <br /> <strong>Romero</strong></h1>
    <h2>Full-Stack Developer</h2>
  </div>
</section>

<style>
  .home {
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: url("_astro/def.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .nombre-container {
    position: absolute;
    top: 20%;
    left: 15%;
  }

  .tr {
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1.1;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    color: white;
  }

  .tr strong {
    color: #3d6cb2;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .parrafo {
    max-width: 1000px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-wrap: balance;
  }

  @media (max-width: 1300px) {
    .home {
      background-size: cover;
      background-attachment: fixed;
    }
  }

  @media (max-width: 600px) {
    .home {
      background-image: url("_astro/def-mobile.webp");
      background-size: cover;
      height: calc(100svh - 110px);
    }

    .nombre-container {
      position: absolute;
      top: 10%;
      left: 15%;
    }
  }

  @media (max-width: 470px) {
    .home {
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .nombre-container {
    }
  }
</style>

{
  /*<p class="parrafo">
    ¡Hola! Soy un apasionado Full Stack Developer con una sólida experiencia en
    el diseño y desarrollo de soluciones web completas. Mi enfoque va más allá
    del simple código, me esfuerzo por crear experiencias digitales intuitivas y
    eficientes. <br />
    Con habilidades tanto en el frontend como en el backend, disfruto traduciendo
    ideas creativas en aplicaciones funcionales y robustas. Mi compromiso con la
    mejora continua y la resolución de problemas me impulsa a mantenerme actualizado
    con las últimas tecnologías.
    <br /> Bienvenido a mi portfolio, donde puedes explorar proyectos que reflejan
    mi dedicación a la excelencia técnica y mi pasión por construir soluciones innovadoras.
  </p> */
}
