---
import CV from "/CV - Tomás Romero.pdf";
---

<script>
  const sr = ScrollReveal({
    distance: "65px",
    duration: 2600,
    delay: 450,
    reset: false,
  });
  sr.reveal(".nombre-container", { delay: 200, origin: "top" });
  sr.reveal(".cardSection", { delay: 0, origin: "left" });
  sr.reveal(".skillsContainer", { delay: 0, origin: "left" });
  sr.reveal(".contact-container", { delay: 200, origin: "left" });
  sr.reveal(".linksContainers", { delay: 200, origin: "bottom" });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function handleClick() {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    }

    const homeLink = document.querySelector("#home");
    if (homeLink) {
      homeLink.addEventListener("click", handleClick);
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    function handleClick() {
      window.scrollTo({
        top: 900,
        behavior: "smooth",
      });
    }

    const homeLink = document.querySelector("#pro");
    if (homeLink) {
      homeLink.addEventListener("click", handleClick);
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    function handleClick() {
      window.scrollTo({
        top: 1600,
        behavior: "smooth",
      });
    }

    const homeLink = document.querySelector("#tech");
    if (homeLink) {
      homeLink.addEventListener("click", handleClick);
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    function handleClick() {
      window.scrollTo({
        top: 2400,
        behavior: "smooth",
      });
    }

    const homeLink = document.querySelector("#cont");
    if (homeLink) {
      homeLink.addEventListener("click", handleClick);
    }
  });
</script>

<section class="navbar">
  <div class="logoDiv">
    <img src="/tr-logo.png" class="logo" alt="" />
    <span class="effect">TOMÁS <strong>ROMERO</strong></span>
  </div>
  <ul class="menu">
    <li>
      <a id="home">Home</a>
    </li>
    <li>
      <a id="pro">Proyectos</a>
    </li>
    <li>
      <a id="tech">Tecnologias</a>
    </li>
    <li>
      <a id="cont">Contacto</a>
    </li>
  </ul>
  <ul class="linksContainer">
    <li>
      <a href={CV} target="_blank" rel="noopener noreferrer">
        <button class="btnCv">
          <span>Descargar</span>CV
          <svg
            class="svgDownload"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-label="download"
          >
            <path
              fill="currentColor"
              d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z"
            ></path>
          </svg>
        </button>
      </a>
    </li>
  </ul>
</section>

<style>
  @font-face {
    font-family: "Rolling";
    src: url("../../assets/fonts/beyond_the_mountains/beyond.ttf");
    font-size: 20px;
  }

  .navbar {
    background-color: #0f172a82;
    backdrop-filter: blur(10px);
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 5%;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
  }

  .logo {
    height: 45px;
    cursor: pointer;
  }

  .logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .effect {
    color: white;
    font-family: "Archivo";
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    margin-left: 5px;
    animation:
      logo,
      auto linear;
    animation-timeline: scroll(root block);
  }

  .effect strong {
    color: #2169a6;
    font-family: "Archivo";
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
  }

  @keyframes logo {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .menu {
    display: flex;
    gap: 50px;
  }

  .menu li {
    cursor: pointer;
  }

  .menu a {
    color: rgba(255, 255, 255, 0.87);
    transition:
      color ease 0.2s,
      border-bottom ease 0.5s;
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }

  .menu a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 2px solid #3d6cb2;
  }

  #botones {
    opacity: 0;
    animation:
      progress-grow,
      auto ease;
    animation-timeline: scroll(root block);
  }

  @keyframes progress-grow {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .btnCv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-family: archivo;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 3px 20px;
    background-color: rgb(61, 108, 178);
    border-radius: 5px;
    border: none;
    transition: ease 0.2s;
  }

  .btnCv:hover {
    /*color: #242424;;
    background:rgba(255, 255, 255, 0.87);*/
    background-color: #14233a;
    filter: drop-shadow(0 0 5px rgba(89, 155, 255, 0.531));
  }

  .btnCv .svgDownload {
    transition: ease 0.2s;
  }

  .btnCv:hover .svgDownload {
    animation: bouncing 1s;
  }

  @keyframes bouncing {
    0%,
    50% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-4px);
    }
    60% {
      transform: translateY(-4px);
    }
  }

  .btnCv span {
    margin-right: 5px;
  }

  .linksContainer {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links {
    width: 30px;
    cursor: pointer;
    fill: white;
    transition: ease 0.2s;
  }

  .links:hover {
    /*fill: #007fbc;
    scale: 1.1;*/
    fill: rgb(61, 108, 178);
  }

  li {
    list-style: none;
    display: flex;
  }

  a {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1160px) {
    .linksContainer {
      margin-right: 0;
      transition: 0.2s;
      justify-content: end;
    }

    .menu {
      gap: 10px;
      transition: 0.2s;
      display: none;
    }
  }

  @media (max-width: 700px) {
    .effect {
      font-size: 20px;
    }

    .effect strong {
      font-size: 20px;
    }

    .btnCv {
      gap: 2px;
      font-size: 12px;
      font-weight: 400;
      margin-right: 20px;
    }

    .btnCv span {
      display: none;
    }
  }
</style>
