---

---

<section class="sectionProjects">
  <article class="article">
    <header>
      <div class="header-container">
        <h1 class="titulo1">PROYECTOS</h1>
        <h2 class="titulo2">PROYECTOS</h2>
      </div>
    </header>
    <div class="cardSection">
      <div class="cardProject">
        <div class="card">
          <div class="divImg">
            <div class="imgContainer">
              <a
                href="https://tomasrome.github.io/Tomas-Flores-Actor-Portfolio/"
                target="_blank"
                ><img class="Img" src="sss.jpg" alt="Portfolio Actor" /></a
              >
              {
                /*<img
                className={styles.tomi}
                src={hover}
                alt="Portfolio Actor"
              />*/
              }
            </div>
          </div>
          <div class="divDes">
            <h2>Portfolio de Actor</h2>
            <ul class="language">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>Astro</li>
            </ul>
            <p>
              Desarrollé un portfolio para destacar la versatilidad, habilidades
              y experiencia de un talentoso actor.
              <br /> Desde la seccion "Sobre mi" hasta una galería de fotos, el portfolio
              ofrece una experiencia inmersiva para los visitantes, permitiéndoles
              conocer más sobre el actor y su trabajo en la industria del entretenimiento.
            </p>
            <div id="btnwebpc" class="btnContainer">
              <a
                href="https://tomasrome.github.io/Tomas-Flores-Actor-Portfolio/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <button class="btnCodigoWeb">
                  Web
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    width="24px"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M9.83824 18.4467C10.0103 18.7692 10.1826 19.0598 10.3473 19.3173C8.59745 18.9238 7.07906 17.9187 6.02838 16.5383C6.72181 16.1478 7.60995 15.743 8.67766 15.4468C8.98112 16.637 9.40924 17.6423 9.83824 18.4467ZM11.1618 17.7408C10.7891 17.0421 10.4156 16.1695 10.1465 15.1356C10.7258 15.0496 11.3442 15 12.0001 15C12.6559 15 13.2743 15.0496 13.8535 15.1355C13.5844 16.1695 13.2109 17.0421 12.8382 17.7408C12.5394 18.3011 12.2417 18.7484 12 19.0757C11.7583 18.7484 11.4606 18.3011 11.1618 17.7408ZM9.75 12C9.75 12.5841 9.7893 13.1385 9.8586 13.6619C10.5269 13.5594 11.2414 13.5 12.0001 13.5C12.7587 13.5 13.4732 13.5593 14.1414 13.6619C14.2107 13.1384 14.25 12.5841 14.25 12C14.25 11.4159 14.2107 10.8616 14.1414 10.3381C13.4732 10.4406 12.7587 10.5 12.0001 10.5C11.2414 10.5 10.5269 10.4406 9.8586 10.3381C9.7893 10.8615 9.75 11.4159 9.75 12ZM8.38688 10.0288C8.29977 10.6478 8.25 11.3054 8.25 12C8.25 12.6946 8.29977 13.3522 8.38688 13.9712C7.11338 14.3131 6.05882 14.7952 5.24324 15.2591C4.76698 14.2736 4.5 13.168 4.5 12C4.5 10.832 4.76698 9.72644 5.24323 8.74088C6.05872 9.20472 7.1133 9.68686 8.38688 10.0288ZM10.1465 8.86445C10.7258 8.95042 11.3442 9 12.0001 9C12.6559 9 13.2743 8.95043 13.8535 8.86447C13.5844 7.83055 13.2109 6.95793 12.8382 6.2592C12.5394 5.69894 12.2417 5.25156 12 4.92432C11.7583 5.25156 11.4606 5.69894 11.1618 6.25918C10.7891 6.95791 10.4156 7.83053 10.1465 8.86445ZM15.6131 10.0289C15.7002 10.6479 15.75 11.3055 15.75 12C15.75 12.6946 15.7002 13.3521 15.6131 13.9711C16.8866 14.3131 17.9412 14.7952 18.7568 15.2591C19.233 14.2735 19.5 13.1679 19.5 12C19.5 10.8321 19.233 9.72647 18.7568 8.74093C17.9413 9.20477 16.8867 9.6869 15.6131 10.0289ZM17.9716 7.46178C17.2781 7.85231 16.39 8.25705 15.3224 8.55328C15.0189 7.36304 14.5908 6.35769 14.1618 5.55332C13.9897 5.23077 13.8174 4.94025 13.6527 4.6827C15.4026 5.07623 16.921 6.08136 17.9716 7.46178ZM8.67765 8.55325C7.61001 8.25701 6.7219 7.85227 6.02839 7.46173C7.07906 6.08134 8.59745 5.07623 10.3472 4.6827C10.1826 4.94025 10.0103 5.23076 9.83823 5.5533C9.40924 6.35767 8.98112 7.36301 8.67765 8.55325ZM15.3224 15.4467C15.0189 16.637 14.5908 17.6423 14.1618 18.4467C13.9897 18.7692 13.8174 19.0598 13.6527 19.3173C15.4026 18.9238 16.921 17.9186 17.9717 16.5382C17.2782 16.1477 16.3901 15.743 15.3224 15.4467ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                      fill="white"></path>
                  </svg>
                </button>
              </a>
              <a
                href="https://github.com/tomasrome/Tomas-Flores-Actor-Portfolio"
                target="_blank"
                rel="noopener noreferrer"
              >
                <button class="btnCodigo">
                  Codigo
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="github"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                    ></path>
                  </svg>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="cardProject">
        <div class="card">
          <div class="divImg">
            <div class="imgContainer">
              <a
                href="https://tomasrome.github.io/Tomas-Flores-Actor-Portfolio/"
                target="_blank"
                ><img class="Img" src="appi.jpg" alt="Portfolio Actor" /></a
              >
              {
                /*<img
                className={styles.tomi}
                src={hover}
                alt="Portfolio Actor"
              />*/
              }
            </div>
          </div>
          <div class="divDes">
            <h2>Attack on Titan API</h2>
            <ul class="language">
              <li id="js">JavaScript</li>
              <li id="react">React</li>
              <li id="express">Express</li>
              <li>NodeJS</li>
              <li>MongoDB</li>
              <li>Mongoose</li>
            </ul>
            <p>
              Attack on Titan API es una API que proporciona información sobre
              los personajes de la popular serie de anime Attack on Titan. <br
              />Los usuarios pueden realizar consultas para obtener información
              sobre los nombres, géneros, afiliaciones y otros atributos
              relevantes de los personajes.
            </p>
            <div id="btnwebpc" class="btnContainer">
              <a
                href="https://tomasrome.github.io/Tomas-Flores-Actor-Portfolio/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <button class="btnCodigoWeb">
                  Web
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    width="24px"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M9.83824 18.4467C10.0103 18.7692 10.1826 19.0598 10.3473 19.3173C8.59745 18.9238 7.07906 17.9187 6.02838 16.5383C6.72181 16.1478 7.60995 15.743 8.67766 15.4468C8.98112 16.637 9.40924 17.6423 9.83824 18.4467ZM11.1618 17.7408C10.7891 17.0421 10.4156 16.1695 10.1465 15.1356C10.7258 15.0496 11.3442 15 12.0001 15C12.6559 15 13.2743 15.0496 13.8535 15.1355C13.5844 16.1695 13.2109 17.0421 12.8382 17.7408C12.5394 18.3011 12.2417 18.7484 12 19.0757C11.7583 18.7484 11.4606 18.3011 11.1618 17.7408ZM9.75 12C9.75 12.5841 9.7893 13.1385 9.8586 13.6619C10.5269 13.5594 11.2414 13.5 12.0001 13.5C12.7587 13.5 13.4732 13.5593 14.1414 13.6619C14.2107 13.1384 14.25 12.5841 14.25 12C14.25 11.4159 14.2107 10.8616 14.1414 10.3381C13.4732 10.4406 12.7587 10.5 12.0001 10.5C11.2414 10.5 10.5269 10.4406 9.8586 10.3381C9.7893 10.8615 9.75 11.4159 9.75 12ZM8.38688 10.0288C8.29977 10.6478 8.25 11.3054 8.25 12C8.25 12.6946 8.29977 13.3522 8.38688 13.9712C7.11338 14.3131 6.05882 14.7952 5.24324 15.2591C4.76698 14.2736 4.5 13.168 4.5 12C4.5 10.832 4.76698 9.72644 5.24323 8.74088C6.05872 9.20472 7.1133 9.68686 8.38688 10.0288ZM10.1465 8.86445C10.7258 8.95042 11.3442 9 12.0001 9C12.6559 9 13.2743 8.95043 13.8535 8.86447C13.5844 7.83055 13.2109 6.95793 12.8382 6.2592C12.5394 5.69894 12.2417 5.25156 12 4.92432C11.7583 5.25156 11.4606 5.69894 11.1618 6.25918C10.7891 6.95791 10.4156 7.83053 10.1465 8.86445ZM15.6131 10.0289C15.7002 10.6479 15.75 11.3055 15.75 12C15.75 12.6946 15.7002 13.3521 15.6131 13.9711C16.8866 14.3131 17.9412 14.7952 18.7568 15.2591C19.233 14.2735 19.5 13.1679 19.5 12C19.5 10.8321 19.233 9.72647 18.7568 8.74093C17.9413 9.20477 16.8867 9.6869 15.6131 10.0289ZM17.9716 7.46178C17.2781 7.85231 16.39 8.25705 15.3224 8.55328C15.0189 7.36304 14.5908 6.35769 14.1618 5.55332C13.9897 5.23077 13.8174 4.94025 13.6527 4.6827C15.4026 5.07623 16.921 6.08136 17.9716 7.46178ZM8.67765 8.55325C7.61001 8.25701 6.7219 7.85227 6.02839 7.46173C7.07906 6.08134 8.59745 5.07623 10.3472 4.6827C10.1826 4.94025 10.0103 5.23076 9.83823 5.5533C9.40924 6.35767 8.98112 7.36301 8.67765 8.55325ZM15.3224 15.4467C15.0189 16.637 14.5908 17.6423 14.1618 18.4467C13.9897 18.7692 13.8174 19.0598 13.6527 19.3173C15.4026 18.9238 16.921 17.9186 17.9717 16.5382C17.2782 16.1477 16.3901 15.743 15.3224 15.4467ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                      fill="white"></path>
                  </svg>
                </button>
              </a>
              <a
                href="https://github.com/tomasrome/Tomas-Flores-Actor-Portfolio"
                target="_blank"
                rel="noopener noreferrer"
              >
                <button class="btnCodigo">
                  Codigo
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="github"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                    ></path>
                  </svg>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<style>
  .sectionProjects {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 60px;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-container {
    position: relative;
  }

  .titulo1 {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.04);
    user-select: none;
  }

  .titulo2 {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cardSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .cardProject {
    width: 100%;
    height: 300px;
    border: 5px solid #57637e;
    display: flex;
    background-color: #2c3853;
    justify-content: center;
    align-items: center;
    transition: ease 0.4s;
    border-radius: 20px;
  }

  .cardProject:hover {
    filter: drop-shadow(0 0 1em rgba(61, 108, 178, 0.4));
  }

  .card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .divImg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 0 0 20px;
  }

  .imgContainer {
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    aspect-ratio: 16/9;
  }

  .Img {
    width: 100%;
    object-fit: cover;
    transition: scale ease 0.4s;
  }

  .Img:hover {
    scale: 1.2;
  }

  .tomi {
    width: 350px;
    border-radius: 10%;
    position: absolute;
    opacity: 0;
    transition: ease 0.5s;
    cursor: pointer;
  }

  .tomi:hover {
    fill: #181a1b;
    opacity: 1;
  }

  .divDes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
    align-items: start;
    padding: 1% 5%;
    gap: 10px;
    text-wrap: pretty;
    font-size: 15px;
  }

  .divDes h2 {
    text-decoration: underline;
    font-weight: 700;
  }

  .language {
    display: flex;
    list-style: none;
    width: 80%;
  }

  .language li + li {
    margin-left: 3%;
  }

  .language li {
    font-size: 12px;
    padding: 2px 10px;
    cursor: default;
    background-color: rgba(61, 108, 178, 0.551);
    /*background-color: rgba(61, 108, 178);*/
    border-radius: 50px;
  }

  .btnContainer {
    margin-top: 5px;
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
  }

  .btnContainer button {
    border: none;
    font-size: 16px;
    font-weight: 200;
    font-family: archivo;
    color: white;
    padding: 0 10px;
    border-radius: 5px;
    background-color: rgba(61, 108, 178, 0.511);
    cursor: pointer;
    transition: background-color ease 0.2s;
    box-shadow: 3px 3px #1f273a;
  }

  .btnContainer button:hover {
    background-color: rgba(61, 108, 178);
  }

  .btnCodigo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .btnCodigoWeb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .web {
    width: 24px;
    fill: white;
  }

  .github {
    width: 20px;
    fill: white;
  }

  @media (max-width: 1715px) {
    .article {
      width: 80%;
    }
  }

  @media (max-width: 1110px) {
    .article {
      width: 60%;
    }

    .cardSection {
      flex-direction: column;
    }

    .sectionProjects {
      height: 1400px;
    }

    .card {
      flex-direction: column;
      justify-content: start;
      gap: 5%;
    }

    .cardProject {
      width: 95%;
      height: fit-content;
      border: 5px solid #57637e;
      display: flex;
      background-color: #2c3853;
      justify-content: center;
      align-items: center;
      transition: ease 0.4s;
      border-radius: 20px;
    }

    .divImg {
      height: 40%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .imgContainer {
      height: 100%;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cardImg {
      margin: 0;
    }

    .btnContainer {
      display: none;
    }

    #btnwebpc {
      display: flex;
    }
  }

  @media (max-width: 600px) {
    .sectionProjects {
      height: 1300px;
      justify-content: start;
    }

    .article {
      justify-content: start;
      width: 100%;
      height: fit-content;
      margin-top: 0;
      gap: 50px;
    }

    .cardProject {
      width: 85%;
    }

    .cardSection {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card {
      height: fit-content;
    }

    .divDes {
      padding: 0 20px;
      width: 100%;
      font-size: 14px;
      margin-bottom: 15px;
    }

    .btnContainer {
      width: 100%;
      justify-content: center;
    }

    .divImg {
      padding-top: 0;
    }

    .language {
      width: 100%;
    }

    .language li {
      font-size: 10px;
      padding: 2px 3%;
    }
  }

  @media (max-width: 600px) {
    .titulo1 {
      font-size: 4em;
    }

    .titulo2 {
      font-size: 2em;
    }
  }

  @media (max-width: 500px) {
    .titulo1 {
      font-size: 4em;
    }
  }

  @media (max-width: 400px) {
    .titulo1 {
      font-size: 3em;
    }

    .titulo2 {
      font-size: 1.8em;
    }
  }

  @media (max-width: 900px) {
    #js {
      display: none;
    }

    #react {
      display: none;
    }

    #express {
      margin-left: 0;
    }
  }
</style>
