---
import Image from "astro/components/Image.astro";
import express from "../assets/express.webp";
---

<section id="tech" class="sectionTech">
  <header>
    <div class="header-container">
      <h1 class="titulo">TECNOLOGIAS</h1>
      <h2 class="titulo2">TECNOLOGIAS</h2>
    </div>
  </header>
  <article class="skillsContainer">
    <header id="titulo">
      <p>
        Como desarrollador Full-Stack, poseo un amplio dominio en diversas
        tecnologías que abarcan todo el espectro del desarrollo web y de
        aplicaciones.<br />Desde la creación de interfaces dinámicas hasta la
        implementación de servidores robustos.
      </p>
    </header>
    <div class="skillsList">
      <div>
        <div class="tooltipBox">
          <img class="html" src="html.svg" alt=" HTML" />
          <span class="tooltipTextHtml">HTML</span>
        </div>
      </div>
      <div>
        <div class="tooltipBox">
          <img class="css" src="css.svg" alt="CSS" />
          <span class="tooltipTextCss">CSS</span>
        </div>
      </div>
      <div>
        <div class="tooltipBox">
          <img class="js" src="js.svg" alt="JavaScript" />
          <span class="tooltipTextJs">JavaScript</span>
        </div>
      </div>
      <div>
        <div class="tooltipBox">
          <img class="react" src="react.svg" alt="React" />
          <span class="tooltipTextReact">React</span>
        </div>
      </div>
      <div>
        <div class="tooltipBox">
          <img class="python" src="python.svg" alt="Python" />
          <span class="tooltipTextPython">Python</span>
        </div>
      </div>
      <div>
        <div class="tooltipBox">
          <img class="java" src="java.svg" alt="Java" />
          <span class="tooltipTextJava">Java</span>
        </div>
      </div>
      <div>
        <div class="tooltipBox">
          <Image
            src={express}
            alt="Express icono"
            width="60"
            class="express"
            loading="eager"
            }
          />
          <span class="tooltipTextExpress">Express</span>
        </div>
      </div>
      <div>
        <div class="tooltipBox">
          <img class="mongo" src="mongo.svg" alt="MongoDB" />
          <span class="tooltipTextMongo">MongoDB</span>
        </div>
      </div>
      <div>
        <div class="tooltipBox">
          <img class="Mysql" src="Mysql.svg" alt="Mysql" />
          <span class="tooltipTextMysql">MySQL</span>
        </div>
      </div>
      <div>
        <div class="tooltipBox">
          <img class="git" src="git.svg" alt="Git" />
          <span class="tooltipTextGit">Git</span>
        </div>
      </div>
    </div>
  </article>
</section>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .sectionTech {
    margin-top: 60px;
    width: 100%;
    height: 733px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header p {
    font-size: 18px;
    padding: 25px;
    background-color: #2c3853;
    border-radius: 20px 20px 0 0;
  }

  .header-container {
    position: relative;
  }

  .titulo {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.04);
    user-select: none;
  }

  .titulo2 {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tech {
    padding: 10px 0;
  }

  .skillsContainer {
    height: 500px;
    width: 70%;
    background-color: #0f172a;
    border: 5px solid #2c3853;
    filter: drop-shadow(0 0 1em rgba(61, 108, 178, 0.3));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skillsContainer header {
    height: 10 0px;
    font-size: 20px;
  }

  .skillsList {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .skillsList div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skillsList img {
    width: 60px;
  }

  .html {
    transition: ease 0.2s;
    z-index: 10;
  }

  .html:hover {
    filter: drop-shadow(0 0 2em #e44d26);
    scale: 1.1;
  }

  .css {
    transition: ease 0.2s;
    z-index: 10;
  }

  .css:hover {
    filter: drop-shadow(0 0 2em #1572b6);
    scale: 1.1;
    transition: ease 0.2s;
  }

  .js {
    transition: ease 0.2s;
    z-index: 10;
  }

  .js:hover {
    filter: drop-shadow(0 0 1.5em #f0db4f75);
    scale: 1.1;
    transition: ease 0.2s;
  }

  .python {
    transition: ease 0.2s;
    z-index: 10;
  }

  .python:hover {
    filter: drop-shadow(0 0 2em #2e7aba);
    scale: 1.1;
    transition: ease 0.2s;
  }

  .react {
    transition: ease 0.2s;
    z-index: 10;
  }

  .react:hover {
    filter: drop-shadow(0 0 2em #61dafb);
    scale: 1.1;
    transition: ease 0.2s;
  }

  /*.node{
background-color: rgba(131, 205, 41, .05);
border-radius: 20px;
}*/

  .mongo {
    transition: ease 0.2s;
    z-index: 10;
  }

  .mongo:hover {
    filter: drop-shadow(0 0 2em #13aa52);
    scale: 1.1;
    /*border: 2px solid #83cd29; */
  }

  /*.git{
    background-color: rgba(243, 79, 41, .05);
    border-radius: 20px;
    }*/

  .git {
    transition: ease 0.2s;
    z-index: 10;
  }

  .git:hover {
    filter: drop-shadow(0 0 2em #f34f29);
    scale: 1.1;
  }

  .java {
    transition: ease 0.2s;
    z-index: 10;
  }

  .java:hover {
    filter: drop-shadow(0 0 2em #61dafb);
    scale: 1.1;
    transition: ease 0.2s;
  }

  .express {
    transition: ease 0.2s;
    z-index: 10;
  }

  .express:hover {
    filter: drop-shadow(0 0 1.5em #ffffff48);
    scale: 1.1;
    transition: ease 0.2s;
  }

  .Mysql {
    transition: ease 0.2s;
    z-index: 10;
  }

  .Mysql:hover {
    filter: drop-shadow(0 0 2em #1572b6);
    scale: 1.1;
    transition: ease 0.2s;
  }

  .oracle {
    transition: ease 0.2s;
    z-index: 10;
  }

  .oracle:hover {
    filter: drop-shadow(0 0 2em #e7303595);
    scale: 1.1;
    transition: ease 0.2s;
  }

  .tooltipBox {
    position: relative;
  }

  .tooltipTextCss {
    background-color: #33a9dc28;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #33a9dc;
    padding: 5px 20px;
    color: #33a9dc;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextCss {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextHtml {
    background-color: #e44d2628;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #e44d26;
    padding: 5px 20px;
    color: #e44d26;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextHtml {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextJs {
    background-color: #f0db4f28;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #f0db4f;
    padding: 5px 20px;
    color: #f0db4f;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextJs {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextPython {
    background-color: #fcd12a28;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #fcd12a;
    padding: 5px 20px;
    color: #fcd12a;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextPython {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextReact {
    background-color: #61dafb28;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #61dafb;
    padding: 5px 20px;
    color: #61dafb;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextReact {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextJava {
    background-color: #e76f0028;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #e76f00;
    padding: 5px 20px;
    color: #e76f00;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextJava {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextMongo {
    background-color: #13aa5228;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #13aa52;
    padding: 5px 20px;
    color: #13aa52;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextMongo {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextGit {
    background-color: #f34f2928;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #f34f29;
    padding: 5px 20px;
    color: #f34f29;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextGit {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextExpress {
    background-color: #ffffff28;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 70px;
    border: 2px solid #ffffff;
    padding: 5px 20px;
    color: #ffffff;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextExpress {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextMysql {
    background-color: #00618a28;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #00618a;
    padding: 5px 20px;
    color: #00618a;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextMysql {
    opacity: 1;
    transform: translateY(-10px);
  }

  .tooltipTextOracle {
    background-color: #c7463428;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 65px;
    border: 2px solid #c74634;
    padding: 5px 20px;
    color: #c74634;
    border-radius: 10px;
    opacity: 0;
    transition:
      opacity ease 0.2s,
      transform ease 0.4s;
    transition-delay: 0.1s;
  }

  .tooltipBox:hover .tooltipTextOracle {
    opacity: 1;
    transform: translateY(-10px);
  }

  @media (max-width: 900px) {
    .skillsList {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(5, minmax(0, 1fr));
    }

    .skillsContainer {
      height: 700px;
      width: 80%;
    }
  }

  @media (max-width: 900px) {
    .tooltipTextCss {
      bottom: 20%;
      opacity: 0;
      font-size: 14px;
      padding: 5px 10px;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextCss {
      opacity: 1;
      transform: translatex(-70px);
    }

    .tooltipTextJs {
      bottom: 20%;
      left: 10%;
      font-size: 12px;
      padding: 5px 10px;
      opacity: 0;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextJs {
      opacity: 1;
      transform: translatex(70px);
    }

    .tooltipTextHtml {
      bottom: 20%;
      left: 5%;
      font-size: 14px;
      padding: 5px 10px;
      opacity: 0;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextHtml {
      opacity: 1;
      transform: translatex(70px);
    }

    .tooltipTextGit {
      bottom: 20%;
      left: 10%;
      font-size: 14px;
      padding: 5px 10px;
      opacity: 0;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextGit {
      opacity: 1;
      transform: translatex(70px);
    }

    .tooltipTextExpress {
      bottom: 20%;
      left: 10%;
      font-size: 14px;
      padding: 5px 10px;
      opacity: 0;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextExpress {
      opacity: 1;
      transform: translatex(90px);
    }

    .tooltipTextReact {
      bottom: 20%;
      font-size: 14px;
      padding: 5px 10px;
      opacity: 0;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextReact {
      opacity: 1;
      transform: translatex(80px);
    }

    .tooltipTextPython {
      bottom: 20%;
      font-size: 14px;
      padding: 5px 10px;
      opacity: 0;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextPython {
      opacity: 1;
      transform: translatex(-80px);
    }

    .tooltipTextJava {
      bottom: 20%;
      font-size: 14px;
      padding: 5px 10px;
      opacity: 0;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextJava {
      opacity: 1;
      transform: translatex(-80px);
    }

    .tooltipTextMongo {
      bottom: 20%;
      font-size: 14px;
      padding: 5px 10px;
      opacity: 0;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextMongo {
      opacity: 1;
      transform: translatex(-85px);
    }

    .tooltipTextMysql {
      bottom: 20%;
      opacity: 0;
      font-size: 14px;
      padding: 5px 10px;
      transition:
        opacity ease 0.2s,
        transform ease 0.4s;
      transition-delay: 0.1s;
    }

    .tooltipBox:hover .tooltipTextMysql {
      opacity: 1;
      transform: translatex(-80px);
    }
  }

  @media (max-width: 600px) {
    .skillsContainer {
      padding: 5px;
    }

    .skillsContainer header p {
      font-size: 14px;
      text-wrap: balance;
    }

    .titulo {
      font-size: 4em;
    }

    .titulo2 {
      font-size: 2em;
    }
  }

  @media (max-width: 500px) {
    .titulo {
      font-size: 3.5em;
    }
  }

  @media (max-width: 400px) {
    .titulo {
      font-size: 2.5em;
    }

    .titulo2 {
      font-size: 1.5em;
    }
  }

  @media (max-width: 430px) {
    .tooltipTextJs {
      bottom: 20%;
      font-size: 10px;
      padding: 5px 5px;
    }

    .tooltipBox:hover .tooltipTextJs {
      transform: translatex(70px);
    }

    .tooltipTextReact {
      bottom: 20%;
      font-size: 12px;
      padding: 5px 5px;
    }

    .tooltipBox:hover .tooltipTextReact {
      transform: translatex(-70px);
    }

    .tooltipBox:hover .tooltipTextGit {
      transform: translatex(-70px);
    }

    .tooltipTextExpress {
      bottom: 20%;
      font-size: 12px;
      padding: 5px 5px;
    }

    .tooltipBox:hover .tooltipTextExpress {
      transform: translatex(73px);
    }

    .tooltipTextPython {
      bottom: 20%;
      font-size: 14px;
      padding: 5px 5px;
    }

    .tooltipBox:hover .tooltipTextPython {
      transform: translatex(70px);
    }

    .tooltipTextJava {
      padding: 5px 8px;
    }

    .tooltipBox:hover .tooltipTextJava {
      transform: translatex(-70px);
    }

    .tooltipTextMongo {
      bottom: 20%;
      font-size: 10px;
      padding: 5px 5px;
    }

    .tooltipBox:hover .tooltipTextMongo {
      transform: translatex(-75px);
    }

    .tooltipTextMysql {
      bottom: 20%;
      font-size: 12px;
      padding: 5px 5px;
    }

    .tooltipBox:hover .tooltipTextMysql {
      transform: translatex(70px);
    }

    .tooltipTextOracle {
      bottom: 20%;
      font-size: 10px;
      padding: 5px 5px;
    }

    .tooltipBox:hover .tooltipTextOracle {
      transform: translatex(-70px);
    }
  }
</style>
