---
interface Props {
  title: string;
}
---

<!doctype html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Tomás Romero, desarrollador de software especializado en JavaScript, React, Node.js, Python y Java | UTN FRA"
    />
    <meta
      name="keywords"
      content="Tomás Romero, desarrollador, Argentina, UTN, UTN Avellaneda, Full Stack, React, Node.js, MongoDB, portfolio"
    />
    <meta property="og:locale" content="es_AR" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta
      name="google-site-verification"
      content="K7YDAjcGIFc5_WPW6xF3iKEOZElXS0xR-KqZvgshaj8"
    />
    <link rel="icon" type="image/svg+xml" href="tr-logo2.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Tomás Romero - Desarrollador de Software</title>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      crossorigin="anonymous"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Tomás Romero",
        "jobTitle": "Desarrollador Web",
        "nationality": "Argentina",
        "birthPlace": "Buenos Aires",
        "url": "https://romerotomas.com",
        "image": "https://romerotomas.com/images/perfil2.webp",
        "email": "mailto:tomasrom.dev@gmail.com",
        "knowsAbout": [
          "Desarrollo Web",
          "Frontend",
          "Backend,"
          "JavaScript",
          "Python",
          "Java",
          "React",
          "HTML",
          "CSS",
          "SQL",
          "MongoDB"
        ],
        "alumniOf": [
        {
          "@type": "CollegeOrUniversity",
          "name": "Universidad Tecnológica Nacional (UTN)",
          "url": "https://www.utn.edu.ar/"
        },
        {
          "@type": "EducationalOrganization",
          "name": "Centro de e-Learning UTN FRBA",
          "url": "https://sceu.frba.utn.edu.ar/e-learning/"
        }
        ],
        "sameAs": [
          "https://www.linkedin.com/in/tomas-romero-developer/",
          "https://github.com/tomasrome",
          "https://www.instagram.com/tomas_rom/",
          "https://www.codewars.com/users/tomasrome"
        ]
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  @font-face {
    font-family: "Archivo";
    src: url("/public/fonts/archivo/Archivo-Italic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Archivo";
    src: url("/public/fonts/archivo/Archivo.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Archivo";
    src: url("/public/fonts/archivo/Archivo.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/public/fonts/roboto/Roboto-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/public/fonts/roboto/Roboto.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "League";
    src: url("/public/fonts/league/LeagueSpartan.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
</style>
