---
interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Soy Tomás Romero, desarrollador Full Stack especializado en React, Node.js y MongoDB."
    />
    <meta
      name="keywords"
      content="Tomás Romero, desarrollador, Full Stack, React, Node.js, MongoDB, portfolio"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta
      name="google-site-verification"
      content="K7YDAjcGIFc5_WPW6xF3iKEOZElXS0xR-KqZvgshaj8"
    />
    <link rel="icon" type="image/svg+xml" href="/tr-logo2.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Tomás Romero - Desarrollador Full Stack</title>
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>
    <slot />
  </body>
  <script
    src="https://kit.fontawesome.com/6c1ab8f124.js"
    crossorigin="anonymous"></script>
</html>

<style is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  @font-face {
    font-family: "Archivo";
    src: url("/public/fonts/archivo/Archivo-Italic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Archivo";
    src: url("/public/fonts/archivo/Archivo.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Archivo";
    src: url("/public/fonts/archivo/Archivo.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/public/fonts/roboto/Roboto-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/public/fonts/roboto/Roboto.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "League";
    src: url("/public/fonts/league/LeagueSpartan.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
</style>
