---
interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio de Tomás Romero, desarrollador Full Stack especializado en React, Node.js y MongoDB."
    />
    <meta
      name="keywords"
      content="Tomás Romero, desarrollador, Full Stack, React, Node.js, MongoDB, portfolio"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta
      name="google-site-verification"
      content="K7YDAjcGIFc5_WPW6xF3iKEOZElXS0xR-KqZvgshaj8"
    />
    <link rel="icon" type="image/svg+xml" href="/tr-logo2.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Tomás Romero - Desarrollador Full Stack</title>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
  <script
    src="https://kit.fontawesome.com/6c1ab8f124.js"
    crossorigin="anonymous"></script>
</html>

<style is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "League Spartan", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
